@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap');

.a-1{

    font-family: 'Big Shoulders', serif;
    height: 100px;
    font-size: xx-large;
    display: flexbox;
    justify-content: end;
    color: white ;

    
}

p{
    font-size: large;
    color: white;
    margin-bottom:12px ;
}

.a-3{
    display: flexbox;
    justify-content: end;
    color: rgb(132, 127, 160);

}


.a-4{
    text-underline-offset: unset;
}




/* idk why i did't use tailwind .. sudden i missed css  */


